::-webkit-scrollbar, *::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

.scroll-content {
    overflow: hidden;
} 

ion-content {
    --background: linear-gradient(55deg, var(--ion-color-tertiary) 0%, var(--ion-color-primary) 100%);
    overflow: hidden;
    --overflow: hidden;
    
}

.itemDesign {
    border-radius: 20px;
    
  }
   
ion-row {
    margin-left: 4vw;

  }

ion-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    margin-top: 20px;
  }

.margem {
    margin-top: 40px;
}

.centraliza{
    min-width: auto;
    max-width: 600px;
    margin: auto;
}

.btn{
  justify-items: end;
  margin: auto;
  min-width: 100px;
  max-width: 300px;
}
