<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-title class="ion-text-center">CADASTRO</ion-title>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center padding">
      <ion-item color="medium" class="ion-text-center margem itemDesign">
        <ion-select [(ngModel)]="userGroup" ion-select aria-label="Fruit" interface="popover" placeholder="Selecione seu perfil">
          <ion-select-option value="professor">Professor</ion-select-option>
          <ion-select-option value="tecnico">Técnico</ion-select-option>
          <ion-select-option value="aluno">Aluno</ion-select-option>
        </ion-select>
    </ion-item>
  </ion-row>
  </ion-grid>

  <ion-grid *ngIf="userGroup == 'aluno'">
    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input  label="NOME" [(ngModel)]="nome" labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="TURMA" [(ngModel)]="turma"  labelPlacement="floating" fill="outline" placeholder="Digite sua Turma"
            type="text" id="turma" name="turma"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="TELEFONE" [(ngModel)]="telefone"  labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="ENDEREÇO" [(ngModel)]="endereco"  labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="SENHA" [(ngModel)]="senha"  type="password" label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button  class="btn" shape="round" (click)="postAluno()" size="default" expand="full" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="userGroup == 'tecnico'">

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="NOME" [(ngModel)]="nome"  labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="TELEFONE" [(ngModel)]="telefone"  labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="ENDEREÇO" [(ngModel)]="endereco"  labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="SENHA" [(ngModel)]="senha"  type="password" label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="btn" shape="round" (click)='postTecnico()' size="default" expand="full" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="userGroup == 'professor'">
    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="NOME" [(ngModel)]="nome"  labelPlacement="floating" fill="outline" placeholder="Digite seu nome"
            type="text" id="nome" name="nome"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="CPF" [(ngModel)]="cpf"  labelPlacement="floating" fill="outline" placeholder="Digite seu cpf"
            maxlength="11" type="text" id="cpf" name="cpf"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="TELEFONE" [(ngModel)]="telefone"  labelPlacement="floating" fill="outline" placeholder="Digite seu telefone"
            maxlength="11" type="number" id="telefone" name="telefone"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="ENDEREÇO" [(ngModel)]="endereco"  labelPlacement="floating" fill="outline" placeholder="Digite seu endereço"
            type="text" id="endereco" name="endereco"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="centraliza">
        <ion-label>
          <ion-input label="SENHA" [(ngModel)]="senha"  type="password" label-placement="floating" fill="outline"
            placeholder="Digite sua senha" id="password" name="password"></ion-input>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button class="btn" shape="round" (click) = "postProfessor()" size="default" expand="full" type="submit"> Cadastrar </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>