.icon-perfil {
  font-size: 100px;
  display: flex;
  justify-content: center;

}

.icon{
    justify-items: center;
    font-size: 100%;
}

.itemDesign {
  border-radius: 20px;
}

.labelDesign{
  min-width: 220px;
  max-width: 100%;
}