<ion-header [translucent]="true">
     <ion-toolbar class="header">
          <ion-title class="titulo">Adicionar Horarios</ion-title>
          <ion-buttons slot="start" *ngIf="userType == 'tecnico'">
               <ion-menu-button menu="main-menu"></ion-menu-button>
          </ion-buttons>
          <ion-button size="small" slot="end" shape="round" (click)=" getAllDados ()">
               <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
     </ion-toolbar>
</ion-header>

<ion-content>
     <ion-grid>
          <p>Lista de Disciplinas:</p>
          <ion-row *ngFor="let professor of itens; let ix = index">
               <ion-col class="alinhamento">
                    <ng-container *ngFor="let materia of materias; let ix = index">
                         <ion-item class=" itemEstilo" lines="none"
                              *ngIf="materia.professor.idProfessor === professor.idProfessor">
                              <ion-avatar slot="start" id="icone">
                                   <ion-icon name="person-circle-outline"></ion-icon>
                              </ion-avatar>
                              <ion-col id="texto">
                                  <ion-col> Professor: {{ professor.nome }}</ion-col>
                                  <br>
                                  <br>
                                  <ion-col>Disciplina: {{ materia.materia }} </ion-col>
                                   <ion-button color="primary" class="btn"
                                        (click)="irHorarioAgendamento(materia)">Add</ion-button>
                              </ion-col>     
                         </ion-item>
                    </ng-container>
               </ion-col>
          </ion-row>
     </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
     <ion-toolbar class="navebar">
          <ion-row>
               <ion-col size="6" class="icones" (click)="goHome()">
                    <ion-icon name="home" size="large"></ion-icon>
               </ion-col>

               <ion-col size="6" class="icones" (click)="goPerfil()">
                    <ion-icon name="person-circle-outline" size="large"></ion-icon>
               </ion-col>

          </ion-row>
     </ion-toolbar>
</ion-footer>