<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
    <ion-title> {{usuario.nome}} - Detalhe </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-label>
          ID Do Tecnico: {{tecnico.idTecnico}}
        </ion-label>
        <ion-input disabled></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-item class="tam" color="medium">
            <ion-textarea label="NOME" [(ngModel)]="nomeAtt" labelPlacement="floating" placeholder="Digite seu nome"
              type="text" id="nome" name="nome"></ion-textarea>
          </ion-item>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-item class="tam" color="medium">
            <ion-textarea label="CPF" [(ngModel)]="cpfAtt" labelPlacement="floating" placeholder="Digite seu cpf"
              maxlength="11" type="text" id="cpf" name="cpf"></ion-textarea>
          </ion-item>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-item class="tam" color="medium">
            <ion-textarea label="TELEFONE" [(ngModel)]="telefoneAtt" labelPlacement="floating"
              placeholder="Digite seu telefone" maxlength="11" type="number" id="telefone"
              name="telefone"></ion-textarea>
          </ion-item>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-item class="tam" color="medium">
            <ion-textarea label="ENDEREÇO" [(ngModel)]="enderecoAtt" labelPlacement="floating"
              placeholder="Digite seu endereço" type="text" id="endereco" name="endereco"></ion-textarea>
          </ion-item>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <ion-item class="tam2" color="medium">
            <ion-input label="SENHA" [(ngModel)]="senhaAtt" type="password" label-placement="floating"
              placeholder="Digite sua senha" id="password" name="password"></ion-input>
          </ion-item>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center button">
        <ion-button class="button" size="default" (click)="atualizaTecnico()" expand="full" type="submit"> Salvar
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>