.menu {
  margin: auto;
  font-size: 2.5em;
}

.icone-menu {
  font-size: 2.5em;
  color: whitesmoke;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.agendamento {

  text-align: center;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}

.icones {
  text-align: center;
  color: whitesmoke;
}

.ion-page {
  text-align: center;
}

.icone {
  --background: #ffffff;
  --border-radius: 50%;
  --box-shadow: none;

  ion-icon {
    font-size: 45px;
    color: #ffffff;
  }
}

ion-content.conteudo {
  --background: #fdfdfdf5;
}

.quadrado-grid {
  justify-content: center;
  align-items: center;
  display:grid;
  grid-auto-rows: 1fr;
  grid-gap: 32px;
  padding: 15px;

  ion-col {
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction:column-reverse;
    align-items: left;
    justify-content: center;
    height: 150px;
    font-size: 0.9em;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    min-width: 270px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);


    &:hover {
      transform: scale(1.1);
    }

    .icone-perf {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 90px;
      padding-bottom: 10px;
    }

    ion-icon {
      color: blue($color: #000000);
    }
  }
  p{
    font-family: "Lucida Console", "Courier New", monospace;
    color:#000000;
    text-align: left;
  }
 
}

.estilo{
     min-width: 80px;
}

.itemEstilo{
  --ion-item-background: rgb(192, 192, 192);
  text-align: right;
}