.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.icone-menu {
  font-size: 2.5em;
  color: whitesmoke;
}

.menu {
  color: white;
  margin: auto;
  font-size: 2.5em;
}

.materias {
  text-align: center;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}

.icones {
  text-align: center;
  color: whitesmoke;
}

.icone {
  --background: #ffffff;
  --border-radius: 50%;
  --box-shadow: none;

  ion-icon {
    font-size: 45px;
    color: #ffffff;
  }
}

.retangulo {
  display: flex;
  justify-content: center;
}

.retangulo ion-col {
  height: 60px;
  border-radius: 20px;
  margin: 12px;
  background-color: rgb(192, 192, 192);
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
  padding-left: 15px;

  &:hover {
    transform: scale(1.1);
    /* aumenta o tamanho ao passar o mouse */
  }
}

ion-content.conteudo {
  --background: #fdfdfdf5;
}

.horario{
  display: flex;
}
.tam{
  max-width: 700px;
  min-width: auto;
  margin: 8px auto;
  border-radius: 22px;

 }
 .tam2{
  max-width: 200px;
  min-width: auto;
  margin: 10px auto;
  border-radius: 22px;
 }

 .btn{
     max-width: 300px;
     min-width: auto;
     margin:auto;
 }

 .btn2{
     max-width: 200px;
     min-width: auto;
     margin:auto;
 }
 