<ion-header [translucent]="true">
  <ion-toolbar class="header">
    <ion-title>Disciplina</ion-title>
    <ion-button size="small" slot="end" shape="round" (click)=" getAll()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
    <ion-buttons slot="start" *ngIf="userType == 'tecnico'">
      <ion-back-button text="Voltar"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">disciplina</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>

    <ion-item>
      <ion-label>ID do Professor: {{ professor.idProfessor }}</ion-label>
      <ion-input  disabled></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label>Nome: {{professor.nome}}</ion-label>
      <ion-input disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label aria-label="text" >Materias:</ion-label>
      <ion-input [(ngModel)]="materia"></ion-input>
      <ion-button (click)="adicionarMateria()">Adicionar</ion-button>
    </ion-item>
  
    <ng-container *ngFor="let materia of itens; let ix = index">
      <ion-item *ngIf="materia.professor.idProfessor === professor.idProfessor">
        <ion-label>{{ materia.materia }}</ion-label>
        <ion-button color="danger" size="small" (click)="excluirMateria(materia)">Excluir</ion-button>
      </ion-item>
    </ng-container>

  </ion-grid>
</ion-content>

<ion-footer [translucent]="true" >
  <ion-toolbar class="navebar">
    <ion-row>
      <ion-col size="6" class="icones" (click)="goHome()">
        <ion-icon name="home" size="large"></ion-icon>
      </ion-col>

      <ion-col size="6" class="icones" (click)="goPerfil()">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-toolbar>
</ion-footer>
