.titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
  }
  
  .botao-add{
    background-color: #66008B;
    border-radius: 10px;
  }