.menu {
  margin: auto;
  font-size: 2.5em;
}

.agendamento {
  text-align: center;
  color: black;
  font-size: 1.1em;
  font-weight: 500;
}

.titulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
}

.icone-menu {
  font-size: 2.5em;
  color: whitesmoke;
}

.link {
  text-align: center;
}

.icones {
  text-align: center;
  color: whitesmoke;
}

.ion-page {
  text-align: center;
}

.icone {
  --background: #ffffff;
  --border-radius: 50%;
  --box-shadow: none;

  ion-icon {
    font-size: 45px;
    color: #ffffff;
  }
}

ion-content.conteudo {
  --background: #fdfdfdf5;
}

.botao {
  background-color: rgb(97, 95, 95);
}

.form-agendamento{
  margin: 10px;
  .ion.row{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.textarea{
  height: 200px;
}

.quadrado-grid {
  justify-content: center;
  align-items: center;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 32px;
  padding: 15px;
 
  ion-col {
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 150px;
    font-size: 0.9em;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    min-width: 250px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6); 


    &:hover {
      transform: scale(1.1);
    }

    p{
      font-family: "Lucida Console", "Courier New", monospace;
      color:#000000
    }

   div{
    
    align-items: center;
    text-align: center;
   
    padding: 8px;
   }
    .div2{
    
    padding-bottom: 10px;
    
    
    }
    .options {
      
      position: absolute;
      top: 0;
      left: 100%;
      margin-left: 10px;
      
      padding: 5px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }
    
    
  }
}

h1{
  color: blue;
  text-align: center;
}  


